* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  position        : relative;
  background-color: cornflowerblue;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-size: 60px 60px;
}

.buttons-banner {
  display         : flex;
  justify-content : space-evenly;
  padding         : 2rem;
  background-color: darkslateblue;
}

.content-wrapper {
  position: relative;
}

.content {
  width      : 100%;
  height     : 500px;
  line-height: 500px;
  font-size  : 5rem;
  position   : fixed;
  display: flex;
  padding: 0.2em;
}

.content-half {
  flex-grow: 1;
  text-align: center;
  border: 2px solid black;
  margin: 0.2em;
  background: rgba(255, 255, 255, 0.15);
}

.content-half:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.45);
}

.bottom-layer {
  z-index: 5;
}

.top-layer {
  z-index: 10;
}

.position-relative {
  position: relative;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn-all {
  width: 90px;
}

.target0 {
  opacity         : 1;
  background-color: crimson;
  transition      : all 0.3s ease-in-out;
}

.target1,
.target2,
.target3,
.target4,
.target5 {
  opacity   : 0;
  transition: all 0.3s ease-in-out;
}

.target1 {
  background-color: darkcyan;
}

.target2 {
  background-color: darkgoldenrod;
}

.target3 {
  background-color: darkorchid;
}

.target4 {
  background-color: deepskyblue;
}

.target5 {
  background-color: forestgreen;
}

.btn-previous {
  text-align: right;
}

.arrow-right {
  width        : 0;
  height       : 0;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left  : 10px solid white;
  transition   : all 0.3s ease-in-out;
}

.btn-next:hover .arrow-right {
  border-left-color: mediumseagreen;
}

.arrow-left {
  width        : 0;
  height       : 0;
  border-top   : 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right : 10px solid white;
  transition   : all 0.3s ease-in-out;
}

.btn-previous:hover .arrow-left {
  border-right-color: mediumseagreen;
}
